@import '../../styles';

.projects {
    @include container;
    @include flex-column;
    justify-content: flex-start;
    position: relative;
    gap: 20px;

    select {
        &:focus-visible {
            outline: $secondary-color;
            border-color: $secondary-color;

        }
    }

    h4 {
        text-align: center;
        font-size: 25px;
        margin-top: 60px;
    }

    .headerContainer {
        @include flex-row;
        justify-content: space-between;
        margin-top: 100px;
        padding: 0 20px;

        h2 {
            margin-bottom: 50px;
            margin-left: 20px;
        }

        .filterContainer {
            @include flex-column;
            gap: 10px;
            width: 30vw;

            select {
                color: $bg-color;
                padding: 5px;
                font-size: 17px;
                border-radius: 5px;

                &:hover {
                    background-color: lighten($primary-color, 10%);
                }
            }

            .checkedTags {
                @include flex-row;
                justify-content: flex-start;
                flex-wrap: wrap;

                .tag {
                    font-size: 20px;
                    @include flex-row;
                    flex-wrap: nowrap;
                    gap: 5px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }

    @include sm {
        gap: 10px;

        h4 {
            font-size: 20px;
            margin-top: 30px;
        }

        .headerContainer {
            @include flex-column;
            margin-top: 70px;

            h2 {
                margin: 10px;
            }

            .filterContainer {
                width: 80%;

                select {
                    font-size: 13px;
                }

                .checkedTags {
                    .tag {
                        font-size: 15px;
                    }
                }
            }
        }
    }

    @include md {
        .headerContainer{
            margin-top: 50px;
            gap: 10px;

            .filterContainer{
                width: unset;
                margin-right: 0;

                .checkedTags { 
                    .tag {
                        font-size: 15px;
                    }
                }
            }

            h2 {
                margin: 0;
                font-size: 30px;
            }

            .filterContainer {
                select {
                    font-size: 13px;
                }
            }
        }
    }

    @include lg {
        @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
            .headerContainer {
                margin-top: 50px;
                gap: 10px;

                h2 {
                    margin-bottom: 20px;
                }

                .filterContainer {
                    width: 40vw;

                    select {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}