@import '../../styles/_variables';

.about {
    height: calc(100vh - $navbar-height);
    background: linear-gradient(180deg, $bg-color, lighten($bg-color, 10%));
    overflow: hidden;

    .container {
        @include container;

        .textContainer {
            height: 100%;
            width: 60%;
            @include flex-column;
            gap: 40px;

            .name {
                color: $secondary-color;
                letter-spacing: 7px;
            }

            h2 {
                font-size: 50px;
                color: $primary-color;
            }

            .button {
                @include border;
                background-color: transparent;
                color: lighten($primary-color, 10%);
                cursor: pointer;
                font-size: 20px;
            }
        }
    }
}