@import '../../styles/variables';

.navbar {
    height: $navbar-height;
    max-width: $container-max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
        font-weight: bold;
    }

    .links {
        display: flex;
        gap: 20px;
    }
}