@import '../../styles';

.timeline {
    @include flex-column;
    position: relative;
    overflow: visible;

    &::after {
        background-color: $primary-color;
        content: '';
        position: absolute;
        left: calc(50% - 1px);
        width: 2px;
        height: 100%;
    }

    @include sm {
        &::after {
            left: 10px;
        }
    }
}