@import '../../styles';

.itemsList {
    @include container;
    @include flex-column;
    align-items: center;
    position: relative;
    gap: 20px;
    padding: 0 20px;

    .itemsContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;

        .item {
            font-size: 35px;
            @include flex-row;
            @include border;
            background-color: $bg-color;

        }
    }

    @include sm {
        padding: 0 $padding-y-sm;
        .itemsContainer {
            justify-content: flex-start;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 5px;

            .item {
                font-size: 13px;
                padding: 5px;

                img {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }

    @include md {
        .itemsContainer {
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;

            .item {
                font-size: 15px;
                padding: 5px;
        
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }

        @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
            .itemsContainer {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 7px;
            }
        }
    }

    @include lg {
        .itemsContainer {
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 12px;

            .item {
                font-size: 20px;
                padding: 10px;
        
                img {
                    width: 45px;
                    height: 45px;
                }
            }
        }

        @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
            .itemsContainer {
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 7px;

                .item {
                    font-size: 15px;
                    padding: 5px;
            
                    img {
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
    }
}