@import './styles/_variables';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

body {
    background-color: $bg-color;
    color: $primary-color;
}

section {
    height: 100vh;
    scroll-snap-align: center;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: $secondary-color;
    }
}