@import './styles';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono';
}

html {
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;

    body {
        background-color: $bg-color;
        color: $primary-color;

        ::selection {
            background-color: $secondary-color;
            color: $bg-color;
        }

        section {
            height: 100vh;
            scroll-snap-align: center;
            
            .subtitleContainer {
                position: absolute;
                top: 50px;
                right: 0px;
                display: flex;
                gap: 20px;
                align-items: center;

                @include sm {
                    gap: 5px;
                }

                @include md {
                    gap: 10px;
                    top: 20px;

                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        top: 30px;
                    }
                }

                @include lg {
                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        top: 20px;
                    }
                }
            }

            h1 {
                font-size: 70px;

                @include sm {
                    font-size: 40px;
                }

                @include md {
                    font-size: 50px;

                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        font-size: 45px;
                    }
                }

                @include lg {
                    font-size: 60px;

                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        font-size: 50px;
                    }
                }
            }

            h2 {
                font-size: 55px;
                color: $secondary-color;

                @include sm {
                    font-size: 30px;
                }

                @include md {
                    font-size: 40px;

                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        font-size: 35px;
                    }
                }

                @include lg {
                    font-size: 50px;

                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        font-size: 40px;
                    }
                }
            }

            p {
                font-size: 20px;

                @include sm {
                    font-size: 17px;
                }

                @include md {
                    font-size: 18px;
                }

                @include lg {
                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        font-size: 18px;
                    }
                }
            }

            hr {
                width: 300px;

                @include sm {
                    width: 70px;
                }

                @include md {
                    width: 150px;
                }

                @include lg {
                    @media only screen and (hover: none) and (pointer: coarse) and (orientation: landscape) {
                        width: 150px;
                    }
                }
            }
        }

        #experience {
            height: auto;
            scroll-snap-align: start;
        }

        a {
            text-decoration: none;
            color: inherit;

            &:hover {
                color: $secondary-color;
            }
        }

        .scrollUp {
            display: block;
            position: fixed;
            bottom: 20px;
            right: 30px;
            z-index: 2;
            border: none;
            outline: none;
            color: $secondary-color;
            cursor: pointer;
            font-size: 50px;

            &:hover {
                color: $primary-color;
            }
        }
    }
}